/*Import locally packaged Spotify Mix font.*/
@font-face {
    font-family: 'Spotify Mix';
    src: url('Spotify Mix Font/SpotifyMix-Extrabold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: url('Spotify Mix Font/SpotifyMix-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix Ultra';
    src: url('Spotify Mix Font/SpotifyMix-Ultra.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: url('Spotify Mix Font/SpotifyMix-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: url('Spotify Mix Font/SpotifyMix-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix Regular';
    src: url('Spotify Mix Font/SpotifyMix-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: url('Spotify Mix Font/SpotifyMix-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: url('Spotify Mix Font/SpotifyMix-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: url('Spotify Mix Font/SpotifyMix-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: url('Spotify Mix Font/SpotifyMix-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: url('Spotify Mix Font/SpotifyMix-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: url('Spotify Mix Font/SpotifyMix-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix Ultra';
    src: url('Spotify Mix Font/SpotifyMix-UltraItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: url('Spotify Mix Font/SpotifyMix-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: url('Spotify Mix Font/SpotifyMix-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: url('Spotify Mix Font/SpotifyMix-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spotify Mix';
    src: url('Spotify Mix Font/SpotifyMix-ExtraboldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/*Set Spotify Mix as global Font*/
body {
    --fontFamily: 'Spotify Mix';
    --fontFamilyLyrics: 'Spotify Mix Regular';
}

body {
  font-family: 'Spotify Mix', sans-serif;
}